<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>word.</title>
</head>
<body>
<header><%= link_to "word.", root_path %></header>	
	<div class="container">
		<div type="text/template" id="word-template">
        	<div id="word-front">
        		<div id="word-paper">
        			<div id="word-list">
        				<h1 class="list-title">my words</h1>

						<%@words.each do |p|%>
						<%= link_to p.word, user_words_search_path + "?word=" + p.word, method: :get, word: "hi"%>
    
						</br></br>
        				<%end%>
        			</div>
        		</div>
      		</div>
		</div> 
	</div>
</body>
</html>
